@import url('https://rsms.me/inter/inter.css');

:root {
    --grey-000: #f8f9fa;
    --grey-100: #f1f3f5;
    --grey-200: #e9ecef;
    --grey-300: #dee2e6;
    --grey-400: #ced4da;
    --grey-500: #adb5bd;
    --grey-600: #868e96;
    --grey-700: #495057;
    --grey-800: #343a40;
    --grey-900: #212529;

    --yellow-300: #ffe066;
    --yellow-400: #ffd43b;
    --yellow-900: #e67700;
}

html {
    font-family: 'Inter', sans-serif;
}

.grey-000 {
    color: var(--grey-000);
}

.grey-500 {
    color: var(--grey-500);
}

.grey-600 {
    color: var(--grey-600);
}

.grey-800 {
    color: var(--grey-800);
}

.grey-900 {
    color: var(--grey-900);
}

.yellow-300 {
    color: var(--yellow-300);
}

.yellow-400 {
    color: var(--yellow-400);
}

.b--grey-300 {
    border-color: var(--grey-300);
}

.b--grey-700 {
    border-color: var(--grey-700);
}

.bg-grey-000 {
    background-color: var(--grey-000);
}

.bg-grey-800 {
    background-color: var(--grey-800);
}

.bg-grey-900 {
    background-color: var(--grey-900);
}

.bg-transparent {
    background-color: transparent;
}

@media screen and (min-width: 30em) {
    .bg-transparent-ns {
        background-color: transparent;
    }
}

.submit-button {
    font-family: inherit;
    background-image: linear-gradient(
        30deg,
        #e67700 0%,
        #f08400 16%,
        #fa9100 33%,
        #ffa007 50%,
        #ffb318 66%,
        #ffc328 83%,
        #ffd43b 100%
    );
}
